.av_intro {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  clear: both;
}
.av_intro > img {
  width: 100%;
  height: 100%;
}

.av_btn {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
.av_btn > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-around;
}
.av_btn > ul > li {
  width: 50px;
  height: inherit;
}
.av_btn > ul > li > a {
  width: 100%;
  height: 100%;
}
.av_btn > ul > li > a > img {
  width: 100%;
  height: 100%;
}

.av_review {
  width: 100%;
  height: 40px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.av_review > span:nth-of-type(2) {
  display: block;
  width: 45px;
  height: 20px;
  background-color: #7f7f7f;
  border-radius: 10px;
}
.av_review > span:nth-of-type(2) > img {
  width: 100%;
  height: 100%;
}
.av_review > .review_text {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: relative;
}
.av_review > .review_text > li {
  width: 100%;
}

.av_quick {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.av_quick > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
.av_quick > ul > li {
  width: calc(100% / 3);
  height: inherit;
  float: left;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}